.models-container{
  display: flex;
  flex-direction: column;
  
}
.models-container> h2{
 text-align: center;
  
}
.models-container> div{
display: flex;
justify-content: center;
   
 }
 .models-nav {

  height: 80px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
}

.models-nav-link-container > a {
  width: 150px;
  height: 50px;
  background-color: var(--blue-light);
  color: var(--whiteshade);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.models-nav-link-container{
  width: 30%;
  display: flex;
  justify-content: space-around;
}